{% extends 'ecopointBundle::layout.html.twig' %}

{% block body -%}
    <div id="texto">
        <center>
    <br>Buscar un producto por código de barras:
<form action="{{path('productos_responder_producto')}}" method="POST">
    <input type="text" name="codigo" value="">
    <input type="submit" value="OK">
</form>
    <br>
    <img src="{{ asset('bundles/ecopoint/imagenes/barras.jpg')}}"width=30% height=30%/>
        </center>
    </div>
{% endblock %}
