{% extends 'ecopointBundle::layout.html.twig' %}

{% block body -%}
    <div id="plat">
        <center><h1>Datos del producto</h1></center>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
    <a href="{{ path('productos') }}">
        Volver a la lista de productos
        </a>
    </li>
</ul>
    </div>
{% endblock %}
